@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600&family=Playfair+Display:wght@400;500&display=swap');

body {
	background-color: #f6f8fa;
	font-family: 'Open Sans', sans-serif;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h5 {
	font-family: 'Playfair Display', serif;
	color: #ff3366;
}

p {
	color: #363636;
}

button a {
	background-color: #ff3366;
	color: #fff;
	border-radius: 5px;
}

button a:hover,
button a:focus,
button a:active {
	text-decoration: none;
	box-shadow: none;
	outline: none;
	border-color: none;
	background-color: #bc295b;
	color: #fff;
}
